.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: #8fd3f4;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#nav {
  width: 100%;
  float: left;
  margin: 10 0 3em 0;
  padding: 0;
  list-style: none;
}
#nav li {
  float: left;
}

#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-right: 1px solid #ccc;
}

#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-right: 1px solid #ccc;
}

.image1 {
  height: 400px;
  margin: 75px;
}

.image2 {
  opacity: 0.75;
  width: 75%;
  height: 300px;
  margin-top: 25px;
  margin-bottom: 75px;
  border-radius: 40px;
}
.Quiz {
  margin-bottom: 75px;
}
.begin {
  background: #42e3f5;
  border-color: cadetblue;
  border-width: 5px;
  border-radius: 20px;
  padding: 15px 50px;
  margin-top: 40px;
  align-self: "center";
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: x-large;
}

.image3 {
  height: 375px;
  opacity: 0.8;
  width: 70%;
  margin-top: 25px;
  margin-bottom: 25px;
  border-width: 10px;
  border-radius: 100px;
}

.image4 {
  margin-top: 25px;
  opacity: 0.8;
  width: 80%;
  height: 350px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}
